#status {
    font-weight: bold;
    padding: 2em;

    > p {

        &:nth-child(1) {
            color: green;
        }
        &:nth-child(2) {
            color: red;
        }
        &:nth-child(3) {
            color: blue;
        }
    }
}

.centered_div {
    width: 400px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -300px;
}